<section class="w-full my-8 px-2">
  @for (product of Products; track product) {
    <div
      class="w-full flex items-center gap-2 border-[0.5px] border-gray-800/40 rounded-[5px] overflow-hidden my-2"
    >
      <div class="w-full flex bg-gray-100 py-2">
        <img class="w-full" [src]="product.image" alt="Videogame PlayStation®5 Slim Digital 1TB" />
      </div>
      <div>
        <h2 class="text-base font-bold">{{ product.name }}</h2>
        <p class="text-xs">por {{ product.marca }}</p>
        <p class="text-xs">
          4.6 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-regular fa-star"></i>
        </p>
        <p class="text-lg font-semibold">
          <span class="text-sm font-normal">R$</span> {{ product.price }}
        </p>
        <button class="bg-yellow-400 p-1 rounded-lg text-sm font-bold">
          Adicionar ao Carrinho
        </button>
      </div>
    </div>
  }
</section>
